.navigation {
    border-top: 1px solid rgba(255, 255, 255, .1);
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    padding: 25px 0;
    &__menu {
        text-align: center;
        &--item {
            display: inline-block;
            margin-left: 25px;
        }
        &--link {
            display: block;
            font-size: 1.4em;
            letter-spacing: 3px;
            text-transform: uppercase;
            &:after {
                content: "//";
                display: inline-block;
                margin-right: 5px;
                transition: .2s;
            }
            &:hover {
                transition: .2s;
                color: $color--white;
                &:after {
                    color: $color--primary;
                }
            }
        }
    }
}